<h2>Your Grocery List</h2>
<ul>
  <% @list.sort_by { |item| item[:name] }.each do |item| %>
    <li>
      <p>
        <div><strong><%= item[:name] %></strong></div>
        <div><em>Price: $<%= item[:price] %></em></div>
        <div><em>Quantity: <%= item[:quantity] %></em></div>

        <form action="/increase/<%= item[:name] %>" method="post">
          <button type="submit">Increase Quantity</button>
        </form>

        <form action="/decrease/<%= item[:name] %>" method="post">
          <button type="submit">Decrease Quantity</button>
        </form>

        <form action="/delete/<%= item[:name] %>" method="post">
          <button type="submit">Delete</button>
        </form>

      </p>
    </li>
  <% end %>
</ul>

<div>
  <p><strong>Total Cost: $<%= calculate_total_cost %></strong></p>
</div>

<div>
  <form action="delete/all" method="post">
    <button type="submit">Delete All Items From List</button>
  </form>
</div>

<% content_for :header_links do %>
  <p><a href="/shop">Back to Shop Available Items</a></p>
  <p><a href="/meals">Back to Shop by Meal</a></p>
<% end %>